@model WebApplication2rrr.Models.User
@{
    ViewData["Title"] = "Юзер";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Магазин смартфонов</title>
</head>
<body>
    <h3>Спасибо, @Model.Name , за заказ!</h3>
</body>
</html>