@model IEnumerable<WebApplication2rrr.Models.Phone>
@{
    ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
    <form method="post">

    </form>
</body>
</html>